<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='content'>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %>!!</p>
      <h2>Usage</h2>
      <p>
        gistio-clone is easy to use, simply append your gistid to the url above.
      </p>
      <h2>Examples</h2>
      <p>
        Here are a couple examples to show you what the URL and your gist should
        look like. There is currently no support for syntax highlighting.
      </p>
      <ul>
        <li><a href='./9454341'>9454341</a></li>
        <li><a href='./7885923'>7885923</a></li>
        <li><a href='./10685710'>10685710</a></li>
      </ul>
      <p><b>Bonus: </b><a href='./1'>This</a> is a secret gist, with a special id.</p>
      <h3>To-do</h3>
      <ul>
        <li>Stylin'</li>
        <li>Syntax highlighting</li>
      </ul>
    </div>
  </body>
</html>
