<% include ./master-head.ejs %>
  <body>
    <div class='content'>
      <h1><%= title %></h1>
      <p>gistio-clone is an <a href="https://gist.github.com">Github gist</a> viewing application inspired by <a href="http://gist.io">gist.io</a></p>
      <h2>Usage</h2>
      <p>
        gistio-clone is easy to use, simply append your gistid to the url above.
      </p>
      <h2>Examples</h2>
      <p>
        Here are a couple examples to show you what the URL and your gist should
        look like. Currently only javascript syntax highlighting is supported.
      </p>
      <ul>
        <li><a href='./9454341'>9454341</a></li>
        <li><a href='./7885923'>7885923</a></li>
        <li><a href='./10685710'>10685710</a></li>
      </ul>
      <p><b>Bonus: </b><a href='./1'>This</a> is a secret gist, with a special id.</p>
      <p>Code available on <a href="https://github.com/makenova/gistio-clone">Github</a></p>
    </div>
  </body>
</html>
