body {
  padding: 50px;
  // Solarized site colors
  // background-color: rgb(253, 246, 227);
  // color: rgb(101, 123, 131);
  /* Sephia */
  background-color: rgb(249, 237, 206);
  color: rgb(91, 70, 54);
  /* Dark Option */
  // background-color: rgb(46, 46, 46);
  // color: rgb(204, 204, 204);
  font-family: chaparral-pro, serif;
  font-size:23px;
}

a {
  color: rgb(181, 137, 0);
}

.content {
  width: 750px;
  margin: 0 auto;
}

.title {
  margin-bottom: -6px;
}
.author {
  margin: 0;
  font-size: 16px;
  color: #C5CCDD;

  a {
    color: #C5CCDD;
    text-decoration: none;
  }
}
